//- Все примеси в этом файле должны начинаться c имени блока (type)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт в сборку
mixin type(title, mods)

  //- Принимает:
  //-   title    {string} - заголовок
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +type('some-mod')
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' type--' + modsList[i].trim();
      }
    }
  button.type(class= allMods, data-name=title)&attributes(attributes)
    .type__group
      svg.type__icon
          use(href= src.icon + 'icon__' + title)
      .type__title!= title
    .type__num &nbsp;
