@import "../../scss/breakpoints";

.page {
  $block-name: &; // #{$block-name}__element

  padding-bottom: 32px;

  @media (min-width: $screen-ti) {
    padding: 80px 0;
  }

  &__filter-button {
    position: fixed;
    bottom: 24px;
    left: 12px;
    z-index: var(--z-filter);

    @media (min-width: $screen-ti) {
      display: none;
    }
  }
}
