@import "../../scss/breakpoints";
@import "../../scss/mixins/button-slyle";

.pagination {
  $block-name: &; // #{$block-name}__element

  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: var(--back-secondary);
  border-radius: 16px;

  @media (min-width: $screen-ti) {
    flex-wrap: nowrap;
  }

  &__link {
    @extend %button-common;

    &--active {
      @extend %button-common-active;
    }

    &--first,
    &--last {
      @extend %button-pagination;
    }
  }

  &__filler {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    height: 32px;
    padding: 8px 4px;
    line-height: 1.33;

    @media (min-width: $screen-ti) {
      min-width: 40px;
      height: 40px;
      line-height: 1.5;
      letter-spacing: 0.42px;
    }
  }
}
