//- Все примеси в этом файле должны начинаться c имени блока (pagination)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт в сборку
mixin pagination(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +pagination('some-mod')
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' pagination--' + modsList[i].trim();
      }
    }

  .pagination(class= allMods)&attributes(attributes)
    button.pagination__link.pagination__link--first first
    button.pagination__link.pagination__link--active 1
    button.pagination__link 2
    button.pagination__link 3
    button.pagination__link 4
    button.pagination__link 5
    span.pagination__filler ...
    button.pagination__link.pagination__link--last last
