@import "../../scss/breakpoints";
@import "../../scss/mixins/button-slyle";

.pagination {
  $block-name: &; // #{$block-name}__element

  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: var(--back-secondary);
  border-radius: 16px;

  @media (min-width: $screen-ti) {
    flex-wrap: nowrap;
  }

  &__link {
    @extend %button-common; // stylelint-disable-line

    &--active {
      @extend %button-common-active; // stylelint-disable-line
    }

    &--dots {
      @extend %button-filled; // stylelint-disable-line
    }

    &--prev,
    &--next {
      @extend %button-pagination; // stylelint-disable-line
    }
  }
}
