//- Стандартный шаблон страницы

include mixins.pug

- isMainPage = false
- pageTitle = 'title'
- metaDescription = 'description'
- metaKeywords = 'keywords'
- src = paths

block variables

doctype html
html(class='no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=3, minimum-scale=0.1')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(name='google', content='notranslate')
    meta(name='HandheldFriendly', content='true')
    meta(name='robots', content='index, follow')

    title= pageTitle

    block meta
      meta(name='description', content= metaDescription)
      meta(name='keywords', content= metaKeywords)

    block head
      link(rel='stylesheet', href= src.css + 'style.css')
      script
        include ../js/head-script.js

  body
    noscript У вас отключен JavaScript. Это пугает.

    .page
      .page__filter-button.filter-button
        svg.filter-button__icon
          use(href= src.icon + 'icon__filter')
      .page__main
        block content

    template#card-template
      .card
        .card__top
          .card__image-wrapper
            .card__id.skeleton
            .card__image.skeleton.skeleton-img
          .card__group
            h2.card__title.skeleton.skeleton-text
            .card__icons
              svg.card__icon.skeleton.skeleton-img
        .card__bottom
          .card__characteristics
            .characteristic
              .characteristic__icon-wrapper
                svg.characteristic__icon.skeleton.skeleton-img
              .characteristic__num
                span.skeleton.skeleton-text
            .characteristic
              .characteristic__icon-wrapper
                svg.characteristic__icon.skeleton.skeleton-img
              .characteristic__num
                span.skeleton.skeleton-text
            .characteristic
              .characteristic__icon-wrapper
                svg.characteristic__icon.skeleton.skeleton-img
              .characteristic__num
                span.skeleton.skeleton-text
                | /
                span.skeleton.skeleton-text
            .characteristic
              .characteristic__icon-wrapper
                svg.characteristic__icon.skeleton.skeleton-img
              .characteristic__num
                span.skeleton.skeleton-text
                | /
                span.skeleton.skeleton-text


    template#filter-template
      button.type
        .type__group
          svg.type__icon.skeleton.skeleton-img
          .type__title.skeleton.skeleton-text
        .type__num.skeleton.skeleton-text
    template#fight-template
      .panel
        .panel__columns
          .panel__column
            .combobox
              .combobox__field.skeleton.skeleton-text
            .fight-tile
              .fight-tile__filler.skeleton.skeleton-text
          .panel__middle.skeleton
          .panel__column
            .combobox
              .combobox__field.skeleton.skeleton-text
            .fight-tile
              .fight-tile__filler.skeleton.skeleton-text
        button.button.button--primary.panel__button#button-id(name='button-name', disabled='disabled')
          span.button__title.skeleton.skeleton-text
        .panel__result.result.result--red.js-result.skeleton.skeleton-text(hidden='hidden')
        .panel__result.result.result--yellow.js-draw.skeleton.skeleton-text(hidden='hidden')

    block templates

    script(src= src.js + 'bundle.js')

    block scripts
