@import "fluid";

@mixin fluid-title {
  font-size: fluid(16, 20, 360, 768);

  @media screen and (min-width: $screen-ti) {
    font-size: fluid(20, 32, 768, 1280);
  }

  @media screen and (min-width: $screen-d) {
    font-size: 32px;
  }
}

@mixin fluid-num {
  font-size: fluid(8, 9, 360, 768);

  @media screen and (min-width: $screen-ti) {
    font-size: fluid(9, 12, 768, 1280);
  }

  @media screen and (min-width: $screen-tl) {
    font-size: fluid(12, 13, 768, 1280);
  }

  @media screen and (min-width: $screen-d) {
    font-size: fluid(13, 16, 1280, 1440);
  }

  @media screen and (min-width: $screen-dl) {
    font-size: 16px;
  }
}

@mixin fluid-card-id {
  font-size: fluid(8, 10, 360, 768);

  @media screen and (min-width: $screen-ti) {
    font-size: fluid(10, 12, 768, 1280);
  }

  @media screen and (min-width: $screen-d) {
    font-size: 12px;
  }
}

@mixin fluid-link-btn {
  font-size: fluid(12, 14, 360, 768);

  @media screen and (min-width: $screen-ti) {
    font-size: fluid(14, 16, 768, 1280);
  }

  @media screen and (min-width: $screen-d) {
    font-size: 16px;
  }
}
