@import "../../scss/breakpoints";

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--body-bg);
  border: 2px dashed var(--border-box);
  border-radius: 24px;

  &--no-border {
    border: 0;
    border-radius: 16px;
  }

  &__icon {
    position: relative;
  }

  &__part-1,
  &__part-2,
  &__part-3 {
    display: block;
    width: 6px;
    height: 6px;
    background-color: var(--front-primary);
    border-radius: 50%;
    transform: rotate(0deg) translateX(0);
  }

  &__part-1,
  &__part-3 {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__part-1 {
    transform: rotate(0deg) translateX(-10px);
    animation: dot-stretching-before 3s infinite ease-in-out;
  }

  &__part-2 {
    animation: dot-stretching 3s infinite ease-in-out;
  }

  &__part-3 {
    transform: rotate(0deg) translateX(10px);
    animation: dot-stretching-after 3s infinite ease-in-out;
  }
}
