//- Все примеси в этом файле должны начинаться c имени блока (filter-btn)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт в сборку
mixin filter-btn(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +filter-btn('some-mod')
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' filter-btn--' + modsList[i].trim();
      }
    }
  .filter-btn(class= allMods)&attributes(attributes)
    svg.filter-btn__icon
      use(href= src.icon + 'icon__filter')
