@import "../../scss/breakpoints";
@import "../../scss/mixins/text-styles";
@import "../../scss/mixins/flexbox";

.characteristic {
  $block-name: &; // #{$block-name}__element

  display: flex;
  flex-direction: column;
  width: calc(50% - 4px / 2);
  min-height: 40px;
  border: 1px solid var(--button-border-primary);
  border-radius: 8px;
  transition: 0.3s ease;

  @media (min-width: $screen-ti) {
    flex-direction: row;
    width: calc(50% - 8px / 2);
  }

  &__icon-wrapper {
    @include flex-center;

    width: 100%;
    padding: 6px 12px;
    border-bottom: 1px solid var(--button-border-primary);
    transition: 0.3s ease;

    @media (min-width: $screen-ti) {
      width: 48px;
      padding: 7px 12px;
      border-right: 1px solid var(--button-border-primary);
      border-bottom: 0;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;

    @media (min-width: $screen-ti) {
      width: 24px;
      height: 24px;
    }
  }

  &__num {
    @include fluid-num;
    @include flex-center;

    gap: 8px;
    width: 100%;
    padding: 8px;
    line-height: 1;
    letter-spacing: 0.4px;
    text-align: center;

    @media (min-width: $screen-ti) {
      padding: 0 1px;
      letter-spacing: 0.4px;
    }

    @media (min-width: $screen-tl) {
      padding: 0 8px;
    }
  }
}
