@import "../../scss/breakpoints";
@import "../../scss/mixins/text-styles";

.card {
  $block-name: &; // #{$block-name}__element

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  background-color: var(--pagination-primary);
  border-top: 1px solid var(--button-border-primary);
  border-radius: 16px;
  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 10%);
  transition: 0.3s ease;

  @media (min-width: $screen-ti) {
    padding: 8px 8px 16px;
  }

  &:hover {
    background-color: var(--button-secondary);

    #{$block-name} {
      &__image-wrapper {
        background-color: var(--back-hover);
      }
    }

    .characteristic {
      border-color: var(--button-border-secondary);

      &__icon-wrapper {
        border-bottom-color: var(--button-border-secondary);

        @media (min-width: $screen-ti) {
          border-right-color: var(--button-border-secondary);
        }
      }
    }
  }

  &--horyzontal {
    flex-direction: column;
    gap: 16px;
    padding: 8px;

    @media (min-width: $screen-d) {
      flex-direction: row;
      padding: 7px 8px 8px;
    }

    &:hover {
      .characteristic {
        &__icon-wrapper {
          border-right-color: var(--button-border-secondary);
        }
      }
    }

    .characteristic { // stylelint-disable-line
      flex-direction: row;
      width: calc(50% - 8px / 2);

      &__icon-wrapper { // stylelint-disable-line
        width: auto;
        border-right: 1px solid var(--button-border-primary);
        border-bottom: 0;
      }

      &__icon {
        width: 24px;
        height: 24px;
      }

      &__num {
        font-size: 16px;
      }
    }

    #{$block-name} {
      &__top {
        width: 100%;

        @media (min-width: $screen-d) {
          max-width: 152px;
        }
      }

      &__id {
        top: 12px;
        left: 12px;
        font-size: 12px;
      }

      &__image-wrapper {
        padding: 16px;
      }

      &__image {
        width: auto;
      }

      &__group {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 8px;
      }

      &__title {
        max-width: 230px;
        font-size: 16px;

        @media (min-width: $screen-t) {
          max-width: 480px;
        }

        @media (min-width: $screen-ti) {
          max-width: 260px;
        }

        @media (min-width: $screen-tl) {
          max-width: 350px;
        }

        @media (min-width: $screen-d) {
          max-width: 140px;
        }
      }

      &__icon {
        width: 16px;
        height: 16px;
      }

      &__bottom {
        margin-top: 0;
        padding: 0;
      }

      &__characteristics {
        gap: 8px;

        & > *:nth-child(n + 5) {
          display: flex;
        }

        & > *:nth-child(7) .characteristic {
          &__num {
            padding-top: 7px;
            padding-bottom: 7px;
          }
        }
      }
    }
  }

  &__id {
    @include fluid-card-id();

    position: absolute;
    top: 8px;
    left: 8px;
    line-height: 1;

    @media (min-width: $screen-ti) {
      top: 12px;
      left: 12px;
      line-height: 1.2;
    }
  }

  &__image-wrapper {
    position: relative;
    width: 100%;
    padding: 16px 8px;
    background-color: var(--back-primary);
    border-radius: 8px;
    transition: 0.3s ease;

    @media (min-width: $screen-ti) {
      padding: 40px 52px;
    }
  }

  &__image {
    display: block;
    width: 100%;
    max-width: 120px;
    height: 100%;
    margin: 0 auto;

    @media (min-width: $screen-ti) {
      max-width: 240px;
    }
  }

  &__group {
    display: flex;
    flex-flow: wrap column;
    gap: 8px;
    align-items: center;
    margin-top: 8px;

    @media (min-width: $screen-ti) {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: 16px;
      padding: 0 8px;
    }
  }

  &__bottom {
    margin-top: 16px;

    @media (min-width: $screen-ti) {
      margin-top: 24px;
      padding: 0 8px;
    }
  }

  &__title {
    @include fluid-title();

    max-width: 115px;
    margin: 0;
    overflow: hidden;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.32px;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;

    @media (min-width: $screen-t) {
      max-width: 235px;
    }

    @media (min-width: $screen-ti) {
      max-width: 200px;
      font-size: 32px;
      letter-spacing: 0.64px;
      text-align: left;
    }

    @media (min-width: $screen-tl) {
      max-width: 256px;
    }
  }

  &__icons {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 4px 0;

    @media (min-width: $screen-ti) {
      gap: 12px;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;

    @media (min-width: $screen-ti) {
      width: 24px;
      height: 24px;
    }
  }

  &__characteristics {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    @media (min-width: $screen-ti) {
      gap: 8px;
    }

    & > *:nth-child(n + 5) {
      display: none;
    }

    & > *:nth-child(7),
    & > *:nth-child(8) {
      width: 100%;
    }
  }
}
