@import "../../scss/breakpoints";

.tabs {
  position: sticky;
  top: 0;
  z-index: 95;
  width: calc(100% + 24px);
  margin-left: -12px;
  padding: 12px 16px;
  background: rgb(19 22 25 / 70%);
  border-radius: 0 0 8px 8px;
  backdrop-filter: blur(4px);

  @media (min-width: $screen-ti) {
    position: relative;
    top: 0;
    width: 100%;
    margin-left: 0;
    padding: 0;
    border-radius: unset;
    backdrop-filter: unset;
  }

  &__inner {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px;
    background-color: var(--back-secondary);
    border-radius: 24px;
  }
}
