extends ../templates/layout_default.pug

block variables
  - isMainPage = false
  - pageTitle = 'Стартовая страница'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'

block content
  .container
    .tabs
      .tabs__labels-semitransparent
        .tabs__labels
          button.tabs__label.tabs__label--active(data-href='#tab1') Pockemons
          button.tabs__label(data-href='#tab2') Fight
      .tabs__panes
        .tabs__pane.tabs__pane--active#tab1
          .tabs__overlay
          .sidebar
            .per-page
              .per-page__title Per page:
              .per-page__buttons
                button.per-page__button.per-page__button--active(data-per-page='12') 12
                button.per-page__button(data-per-page='24') 24
                button.per-page__button(data-per-page='48') 48
            ul.filter
          .cards
            .cards__grid
            .cards__pagination-wrapper
              .cards__pagination-inner
                +pagination()
        .tabs__pane#tab2
