extends ../templates/layout_default.pug

block variables
  - isMainPage = false
  - pageTitle = 'Стартовая страница'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'

block content
  .container
    +tab("title")
    +tab("title", "active")
    +type("all", "title")
    +type("all", "title", "active")
