extends ../templates/layout_default.pug

block variables
  - isMainPage = false
  - pageTitle = 'Стартовая страница'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'

block content
  .container
    .tabs
      .tabs__inner
        button.tab.tab--active Pockemons
        button.tab Fight
    .content
      .content__grid
        .sidebar
          .per-page
            .per-page__title Per page:
            .per-page__buttons
              button.per-page__button.per-page__button--active 12
              button.per-page__button 24
              button.per-page__button 48
          ul.sidebar__filter.filter
            each type, index in types.typesArray
              li.filter__item
                +type(type.icon, type.title, type.active ? 'active' : '')
        .cards
          .cards__grid
            each card in cards.cardsArray
              +card(card.id, card.img, card.title, card.icons, card.characteristics)
          .cards__pagination-wrapper
            .cards__pagination-inner
              +pagination()
