@keyframes dot-stretching {
  15% {
    transform: rotate(0deg) translateX(0);
  }

  40%,
  50% {
    transform: rotate(0deg) translateX(-10px);
  }

  70%,
  80% {
    transform: rotate(180deg) translateX(-10px);
  }

  100% {
    transform: rotate(180deg) translateX(0);
  }
}

@keyframes dot-stretching-before {
  15% {
    transform: rotate(0deg) translateX(-10px);
  }

  40%,
  50% {
    transform: rotate(180deg) translateX(-10px);
  }

  70%,
  80% {
    transform: rotate(180deg) translateX(0);
  }

  100% {
    transform: rotate(180deg) translateX(10px);
  }
}

@keyframes dot-stretching-after {
  15% {
    transform: rotate(0deg) translateX(10px);
  }

  40%,
  50% {
    transform: rotate(0deg) translateX(0);
  }

  70%,
  80% {
    transform: rotate(0deg) translateX(-10px);
  }

  100% {
    transform: rotate(180deg) translateX(-10px);
  }
}
