@use "sass:color";

:root {
  --color-black: #000;
  --color-white: #fff;
  --body-color: var(--front-primary);
  --body-bg: var(--back-primary);
  --font-base: var(--font-mochiy);
  --font-mochiy: "MochiyPopOne", sans-serif;
  --font-size-root: 100%;
  --font-size-base: 1rem;
  --font-weight-base: 400;
  --line-height-base: 1.25;
  --front-primary: #e8e9e9;
  --back-primary: #131619;
  --back-secondary: #0d0f10;
  --back-tertiary: #1a1d21;
  --back-hover: #060708;
  --button-primary: #131619;
  --button-secondary: #363a3d;
  --button-tertiary: #686b6e;
  --button-disabled: #131619;
  --button-disabled-text: #363a3d;
  --button-border-primary: #363a3d;
  --button-border-secondary: #686b6e;
  --button-border-tertiary: #9b9c9e;
  --button-border-quaternary: #cdcecf;
  --button-border-disabled: #363a3d;
  --pagination-primary: #1a1d21;
  --color-accent: #2f80ed;
  --color-placeholder: #686b6e;
  --color-filler-text: #363a3d;
  --color-red: #eb5757;
  --color-yellow: #f2c94c;
  --color-orange: #f2994a;
  --color-purple: #9b51e0;
  --border-box: #1a1d21;

  --z-tabs: 7;
  --z-overlay: 8;
  --z-sidebar: 9;
  --z-filter: 10;
  --z-loader: 11;
  --z-loader-high: 12;
}
