@import "../../scss/breakpoints";
@import "../../scss/mixins/fluid";

.tab {
  $block-name: &; // #{$block-name}__element

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-top: 1px solid var(--button-border-primary);
  background-color: var(--button-primary);
  border-radius: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s ease;

  &:hover {
    border-top: 1px solid var(--button-border-tertiary);
    background-color: var(--button-tertiary);
  }

  &--active {
    border-top: 1px solid var(--button-border-secondary);
    background-color: var(--button-secondary);
    pointer-events: none;
  }
}
