//- Все примеси в этом файле должны начинаться c имени блока (tab)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт в сборку
mixin tab(title, mods)

  //- Принимает:
  //-   title    {string} - заголовок
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +tab('some-mod')
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' tab--' + modsList[i].trim();
      }
    }
  .tab(class= allMods)&attributes(attributes)!= title
